#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.container-logo {
  width: 72%;
  margin: 32px auto;
  background: #fff;

  img {
    width: 100%;
  }
}
.ant-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .header-left {
    width: 32px;
  }
  .header-right {
    cursor: pointer;
    display: inline-block;
    position: relative;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      color: #2d8cf0;
    }
  }
}
