.ant-layout-sider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-logo {
  display: block;
  box-sizing: border-box;
  width: 80%;
  height: 74px;
  margin: 5px auto;
  background: url('../../assets/images/common/BOBLOG-02.png') 0 center no-repeat;
  background-size: 82%;

  img {
    width: 100%;
  }
}
